@model MockInterviews.Models.Topic

<h2>Add New Topic</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Topic Name</label>
        <input type="text" class="form-control" asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
